.contact{
    background-color: var(--white);
    padding: 1.5em;
}

.contact__title, .contact__text{
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.contact__title{
    font-size: 1.125em;
    font-weight: 500;
}

.contact__text{
    font-weight: 300 ;
    margin: 1em 0;
}

.contact__email{
    padding: 1em 1.5em;
    border-radius: 1.5em;
    border: 1px solid var(--blue) ;
    margin: 1em;
    width:80%;
    color: var(--blue);
}

.contact__email::placeholder{
    font-family: var(--main_font);
    color: var(--blue);
    opacity: 1;
    background: url(../assets/Email.svg) no-repeat;
    background-position: 1em;
    text-indent: 1em;
    text-align: center;
    /* vertical-align: center; */
    padding-left: 2em;
}

@media screen and (min-width:1024px){
    .contact{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .contact_description{
        width: 35%;
    }
    .contact__title{
        font-size: 1.5em;
    }
    .contact__text{
        width: 90%;
    }
    .contact__email{
        width: 30%;
    }
}

@media screen and (min-width:1728px){
    .contact{
        padding: 4em 25vw;
    }
}